<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <h3>Are you sure you want to delete this client?</h3>
            <form role="form" action="/client/delete/@Model.GetId()" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input name="client-id" type="hidden" value="@Model.GetId()">
                <input type="hidden" name="client-stylist-id" id="client-stylist-id" value="@Model.GetStylistId()">
                <button type="submit" name="button">Delete Client</button>
            </form>
        </div>
    </body>
</html>
