<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <form role="form" action="/client/edit/@Model.GetId()" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <input name="client-id" type="hidden" value="@Model.GetId()">
                <div class="form-group">
                    <label for="client-name">Client name</label>
                    <input id="client-name" name="client-name" type="text">
                </div>
                <div class="form-group">
                    <label for="client-phone">Client phone</label>
                    <input id="client-phone" name="client-phone" type="text">
                </div>
                <div class="form-group">
                    <label for="client-email">Client email</label>
                    <input id="client-email" name="client-email" type="text">
                </div>
                <input type="hidden" name="client-stylist-id" id="client-stylist-id" value="@Model.GetStylistId()">
                <button type="submit" name="button">Make Changes</button>
            </form>
        </div>
    </body>
</html>
