<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <h1> Hair Salon Management</h1>
            <br>
            <form role="form" action="/stylist/edit/@Model.GetId()" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <input name="stylist-id" type="hidden" value="@Model.GetId()">
                <div class="form-group">
                    <label for="stylist-name">Stylist name</label>
                    <input id="stylist-name" name="stylist-name" type="text" required>
                </div>
                <div class="form-group">
                    <label for="stylist-phone">Stylist phone</label>
                    <input id="stylist-phone" name="stylist-phone" type="text" required>
                </div>
                <div class="form-group">
                    <label for="stylist-email">Stylist email</label>
                    <input id="stylist-email" name="stylist-email" type="text" required>
                </div>
                <button type="submit" name="button">Make Changes</button>
            </form>
        </div>
    </body>
</html>
